[submodule "fei"]
	path = fei
	url = https://github.com/CaroHG7/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/CaroHG7/poema.git
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/CaroHG7/ecommerce.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/CaroHG7/ordinario-ftw.git
